# SPU KeyMint HAL - domain definition only
# TWRP recovery runs in permissive mode, allow rules not strictly required.
# Defining domains ensures init.rc seclabels are valid.
type vendor_hal_keymint_spu_qti_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_keymint_spu_qti, domain;
init_daemon_domain(vendor_hal_keymint_spu_qti)

# SPU Weaver HAL
type vendor_hal_weaver_spu_qti_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_weaver_spu_qti, domain;
init_daemon_domain(vendor_hal_weaver_spu_qti)

# SPU Gatekeeper HAL
type vendor_hal_gatekeeper_spu_qti_exec, exec_type, file_type, vendor_file_type;
type vendor_hal_gatekeeper_spu_qti, domain;
init_daemon_domain(vendor_hal_gatekeeper_spu_qti)
