on late-fs
    chmod 0666 /dev/awinic_haptic
    chmod 0666 /dev/awinic_x_haptic
    chmod 0666 /dev/aac_richtap_dev
    chown system system /dev/awinic_haptic
    chown system system /dev/awinic_x_haptic
    chown system system /dev/aac_richtap_dev

on late-init
    write /sys/class/leds/zte_vibrator/trigger transient

on property:sys.boot_completed=1
    setprop vendor.haptic.calibrate.done 1
    chown system system /sys/class/leds/zte_vibrator/duration
    chown system system /sys/class/leds/zte_vibrator/activate
    chown system system /sys/class/leds/zte_vibrator/duration_aw
    chown system system /sys/class/leds/zte_vibrator/activate_aw
    chmod 0664 /sys/class/leds/zte_vibrator/duration
    chmod 0664 /sys/class/leds/zte_vibrator/activate
    chmod 0664 /sys/class/leds/zte_vibrator/duration_aw
    chmod 0664 /sys/class/leds/zte_vibrator/activate_aw
    chmod 0666 /dev/awinic_haptic
    chown system system /dev/awinic_haptic
